<div class="filter-block">
    <div class="filter-option">
        <span>Filter by friend:</span>
        <select name="filter-friend">
            <option data-ng-repeat="item in items" value="{{item.name}}">{{item.name}}</option>
        </select>
    </div>
    <div class="filter-option">
        <span>Currency:</span>
        <select name="filter-currency" data-ng-model="selectedCurrency" data-ng-change="changeCurrency()">
            <option data-ng-repeat="currency in currencies" value="{{currency}}"
                    data-ng-selected="currency === selectedCurrency">{{currency}}
            </option>
        </select>
    </div>
</div>
<table>
    <tr>
        <th id="type" class="center">type</th>
        <th>name</th>
        <th>Friends</th>
        <th id="date">date</th>
        <th style="text-align: right" id="amount">amount</th>
        <th class="table-btn">edit</th>
        <th class="table-btn">delete</th>
    </tr>
    <tr data-ng-repeat="item in items">
        <td>{{item.type}}</td>
        <td>{{item.spentOn}}</td>
        <td>{{item.name}}</td>
        <td>{{item.date}}</td>
        <td class="amount">{{item.amount}}</td>
        <td><i class="fa fa-pencil"></i></td>
        <td><i class="fa fa-trash-o"></i></td>
    </tr>

</table>