<div id="form-box">
    <h2>{{formHeader}}:</h2>

    <div class="add-btn" data-ng-class="{active: isFrOpen}">
        <span class="add-text">Add a friend</span>

        <div class="friend-input">
            <div><input type="text" placeholder="Eg: Vandy" data-ng-model="newItem.name"/></div>
        </div>
    <span class="fa-stack fa-lg" data-ng-click="addFriend()">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-plus fa-stack-1x" title="Add a friend"></i>
    </span>
    </div>
    <form>
        <div>
            <span>Type:</span>
            <select name="type"  data-ng-model="selectedItem.type" data-ng-change="changeType()">
                <option data-ng-repeat="type in paymentTypes" value="{{type}}" data-ng-selected="type === selectedItem.type">{{type}}</option>
            </select>
        </div>
        <div>
            <span>Add friend:</span>
            <select class="test" name="friend" data-ng-model="selectedIndex" data-ng-change="changeFriend()">
                <option data-ng-repeat="item in items" value="{{$index}}" data-ng-selected="selectedIndex === $index">{{item.name}}</option>
            </select>

            <div class="error-msg"></div>
        </div>

        <div>
            <span>Name:</span> <input type="text" name="item-name" value="{{selectedItem.spentOn}}"
                                      placeholder="What did you spend on?">

            <div class="error-msg"><!--Please select an option--></div>
        </div>

        <div>
            <span>Date:</span> <input type="date" name="date" value="{{selectedItem.date}}">

            <div class="error-msg"><!--Please select an option--></div>
        </div>

        <div>
            <span>Currency:</span>
            <select name="currency" data-ng-model="selectedItem.currency" data-ng-change="changeCurrency()">
                <option data-ng-repeat="currency in currencies" value="{{currency}}" data-ng-selected="currency === selectedItem.currency">{{currency}}</option>
            </select>
        </div>
        <div>
            <span>Amount:</span> <input type="number" name="amount" value="{{selectedItem.amount}}"
                                        placeholder="How much?">

            <div class="error-msg">Cannot be empty</div>
        </div>

        <div id="button" data-ng-click="saveExpense()">{{expenseMsg}}</div>

    </form>
</div>