<div data-ng-controller="dataEntry">
    <div id="form-box" xmlns="http://www.w3.org/1999/html">
        <h2>{{formHeader}}:</h2>

        <div class="add-btn" data-ng-class="{active: isFrOpen}">
            <span class="add-text">Add a friend</span>

            <div class="friend-input">
                <div><input type="text" placeholder="Eg: Vandy" data-ng-model="newItem.name"
                            data-ng-keyup="submitEntry($event)"/></div>
            </div>
    <span class="fa-stack fa-lg" data-ng-click="addFriend()">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-plus fa-stack-1x" title="Add a friend"></i>
    </span>
        </div>
        <form name="expenseForm" data-ng-submit="saveExpense()" novalidate>
            <div>
                <span>Type:</span>
                <select name="type" data-ng-model="selectedItem.type" data-ng-change="changeType()" required>
                    <option data-ng-repeat="type in paymentTypes" value="{{type}}"
                            data-ng-selected="type === selectedItem.type">{{type}}
                    </option>
                </select>

                <div class="error-msg" data-ng-show="expenseForm.type.$error.required">
                    Cannot be empty
                </div>
            </div>
            <div>
                <span>Add friend:</span>
                <select class="test" name="friend" data-ng-model="selectedIndex" data-ng-change="changeFriend()"
                        required>
                    <option data-ng-repeat="item in items" value="{{$index}}"
                            data-ng-selected="selectedIndex === $index">
                        {{item.name}}
                    </option>
                </select>

                <div class="error-msg" data-ng-show="expenseForm.friend.$error.required">
                    Cannot be empty
                </div>
            </div>

            <div>
                <span>Name:</span> <input type="text" name="itemName" value="{{selectedItem.spentOn}}"
                                          placeholder="What did you spend on?" data-ng-model="selectedItem.spentOn"
                                          required>

                <div class="error-msg" data-ng-show="expenseForm.itemName.$error.required">
                    Cannot be empty
                </div>
            </div>

            <div>
                <span>Date:</span>

                <div class="date-picker">
                    <input type="text" class="date-val" datepicker-popup="{{format}}" data-ng-model="selectedItem.date"
                           is-open="opened" datepicker-options="dateOptions" name="date">
                    <button type="button" class="btn btn-default calendar-btn" ng-click="openDatePicker($event)"><i
                            class="fa fa-calendar"></i></button>
                    <div class="error-msg" data-ng-show="expenseForm.date.$error.required">
                        Cannot be empty
                    </div>
                    <div class="error-msg" data-ng-show="expenseForm.date.$error.date">
                        Should be a date object
                    </div>
                </div>
            </div>
            <!--todo : the below commented code is uses html5 calendar is working fine on chrome-->
            <!--<div>
                <span>Date:</span> <input type="date" name="date" value="{{selectedItem.date | date:'yyyy-mm-dd'}}"
                                          data-ng-model="selectedItem.date">

                <div class="error-msg">&lt;!&ndash;Please select an option&ndash;&gt;</div>
        </div>-->


            <div>
                <span>Currency:</span>
                <select name="currency" data-ng-model="selectedItem.currency" data-ng-change="changeCurrency()"
                        required>
                    <option data-ng-repeat="currency in currencies" value="{{currency}}"
                            data-ng-selected="currency === selectedItem.currency">{{currency}}
                    </option>
                </select>
            </div>
            <div>
                <span>Amount:</span> <input type="number" name="amount" value="{{selectedItem.amount}}"
                                            placeholder="How much?" data-ng-model="selectedItem.amount" required>

                <div class="error-msg" data-ng-show="expenseForm.amount.$error.required">
                    Cannot be empty
                </div>
                <div class="error-msg" data-ng-show="expenseForm.amount.$error.number">
                    Should only be a number
                </div>
            </div>

            <!--<div id="button" data-ng-click="saveExpense()">{{expenseMsg}}</div>-->
            <input type="submit" id="button"
                   data-ng-disabled="expenseForm.itemName.$dirty && expenseForm.itemName.$invalid || expenseForm.type.$dirty && expenseForm.type.$invalid || expenseForm.friend.$dirty && expenseForm.friend.$invalid || expenseForm.currency.$dirty && expenseForm.currency.$invalid || expenseForm.amount.$dirty && expenseForm.amount.$invalid || expenseForm.date.$dirty && expenseForm.date.$invalid"
                   value="{{expenseMsg}}"/>

        </form>
    </div>
</div>